@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--dm-sans);
  background-color: white;
  color: #f26522;
}

.mono {
  font-family: var(--fira-mono);
  font-family: monospace;
  background-color: #f26522;
  padding: 0.1em 0.2em;
}

.card-header {
  padding: 1rem;
  padding-bottom: 0;
}

.card-footer {
  padding: 1rem;
  padding-top: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}